# SPDX-License-Identifier: BSD-3-Clause

config COMP_UP_DOWN_MIXER
	bool "UP_DOWN_MIXER component"
	default n
        depends on IPC_MAJOR_4
        help
         Select for Up Down Mixer component Conversions supported:
         Up/Downmixing for stereo output:
         1, 2, 2.1, 3.0, 3.1, Quatro, 4.0, 5.0, 5.1, 7.1 -> 2
         Upmixing for multichannel output:
         1, 2 -> 5.1
         2 -> 7.1
         Downmixing for mono output:
         4.0, Quatro, 3.1, 2 -> 1

choice
	prompt "Up_down_mixer HIFI level"
	depends on COMP_UP_DOWN_MIXER
	default UP_DOWN_MIXER_HIFI_NONE

config UP_DOWN_MIXER_HIFI_MAX
	bool "Max level available in the toolchain"

config UP_DOWN_MIXER_HIFI_3
	bool "HIFI3 UP_DOWN_MIXER"

config UP_DOWN_MIXER_HIFI_NONE
	bool "Generic UP_DOWN_MIXER, no HIFI"

endchoice
