CONFIG_CHERRYTRAIL=y
CONFIG_COMP_TEST_KEYPHRASE=n
CONFIG_COMP_KPB=n
CONFIG_COMP_SEL=n
CONFIG_COMP_MUX=n
CONFIG_COMP_FIR=n
CONFIG_COMP_IIR=n
CONFIG_COMP_TONE=n
CONFIG_COMP_DCBLOCK=n
CONFIG_COMP_ASRC=n
CONFIG_COMP_SRC=n
CONFIG_COMP_TDFB=n
CONFIG_COMP_TONE=n
CONFIG_COMP_SWITCH=n
CONFIG_OPTIMIZE_FOR_SIZE=y
CONFIG_HAVE_AGENT=n
CONFIG_DEBUG_MEMORY_USAGE_SCAN=n
CONFIG_TRACE_FILTERING_ADAPTIVE=n
CONFIG_COMP_LEGACY_INTERFACE=y
CONFIG_PCM_CONVERTER_FORMAT_FLOAT=n
CONFIG_FORMAT_FLOAT=n
CONFIG_COMP_BLOB=n
CONFIG_COMP_DAI_GROUP=n
