*.o
*.in
*~
autom4te*
*.Po
*.swp
Makefile
config.*
configure
depcomp
install-sh
missing
stamp-h1
aclocal.m4
compile
ltmain.sh
rimage/rimage
rmbox/rmbox
rwav/rwav
*.tplg
topology/*.conf
topology/test/*.conf
