*.o
*.Po
*~
*.a
*.la
*.lo
*.Tpo
*.swp
*.bin
*.map
*.ri
*.orig
*.rej
*.rom
*.man
.version
.tarball-version
*.x
.build
*.dis
*.lst
*.log
.*

Makefile
Makefile.in
configure
depcomp
aclocal.m4
install-sh
missing
compile
ar-lib
stamp-h1
CHANGELOG
ltmain.sh
m4/lt*
m4/libtool.m4
libtool
src/include/version.h
doc/sof_uapi
*.doxygen

autom4te*
config.*
*.gz
*.xz
src/arch/xtensa/sof
src/arch/xtensa/boot_ldr
sof-*
boot_ldr-*
boot_module
module
rimage/rimage
