[submodule "rimage"]
	path = rimage
# This is a _relative_ submodule URL. In some use cases it's better than
# an _absolute_ submodule URL, in other cases it's not. One size does
# unfortunately not fit all.
#
# Among other pages, http://blog.tremily.us/posts/Relative_submodules/
# has a good comparison
#
# If you use Zephyr you must also look at the comments in sof/west.yml.
#
# If you want to fork or mirror sof.git _without_ doing the same for
# rimage.git then your automation may want you to change and git commit
# an absolute URL in your branch. No need to git commit for interactive
# use; a local and temporary edit of this file is enough for interactive
# use because .gitmodules is used only once to --init[ialize]
# .git/config the first time. Then .gitmodules is never used again after
# cloning.
	url = ../rimage
