*.o
*.Po
*.so*
*~
*.a
*.la
*.lo
*.Tpo
*.swp
*.bin
*.map
*.ri
*.orig
*.rej
*.rom
*.man
.version
.tarball-version
*.x
.build
*.dis
*.lst
*.log
.*
*.html
*.js
*.png
*.md5
*.xml
*.css
*.xsd
*.patch
*.xslt
*.mbox

doc/doxygen
*.doxygen

*.gz
*.xz
src/arch/xtensa/sof
src/arch/xtensa/boot_ldr
src/arch/xtensa/sof-*
src/arch/xtensa/boot_ldr-*
src/arch/xtensa/module
src/arch/xtensa/rom
src/arch/xtensa/rom-*
boot_module
module
rimage/rimage

tap-driver.sh
test-driver
*.trs

__pycache__

build*/
CMakeCache.txt
CMakeFiles
doc/*.cmake
doc/*.ninja
doc/Makefile

cscope.out
cscope.*
