# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @lgirdwood @plbossart @mmaka1 @lbetlej

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# inlcldue files
src/include/sof/preproc*.h		@mwierzbix
src/include/sof/dmic.h			@singalsu
src/include/host/*			@ranj063
src/include/uapi/*			@bardliao
src/include/uapi/ipc/*			@xiulipan @bardliao

# audio component
src/audio/src*				@singalsu
src/audio/eq*				@singalsu
src/audio/fir*				@singalsu
src/audio/iir*				@singalsu
src/audio/tone.c			@singalsu

# platfroms
src/arch/xtensa/*			@tlauda
src/platform/*				@tlauda
src/platform/baytrail/*			@xiulipan
src/platform/haswell/*			@xiulipan

# drivers
src/drivers/intel/cavs/dmic.c		@singalsu

# other libs
src/host/*				@ranj063
src/math/*				@singalsu
src/ipc/*				@xiulipan @bardliao

# other helpers
test/*					@jajanusz
test/cmocka/include/*			@mwierzbix
scripts/*				@xiulipan
rimage/*				@xiulipan

# tools(old soft)
tools/logger/*				@xiulipan
tools/topology/*			@ranj063 @xiulipan
tools/test/*				@xiulipan

# related fileds
*.am					@jajanusz
*.ac					@jajanusz
*.sh					@jajanusz
*trace.*				@xiulipan

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
