# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @lgirdwood @plbossart @mmaka1 @lbetlej @dbaluta @jajanusz

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
src/include/sof/drivers/dmic.h		@singalsu
src/include/ipc/**			@thesofproject/steering-committee
src/include/kernel/**			@thesofproject/steering-committee
src/include/user/**			@thesofproject/steering-committee
src/include/sof/debug/gdb/*		@mrajwa
src/include/sof/audio/kpb.h		@mrajwa
src/include/sof/audio/mux.h		@akloniex

# audio component
src/audio/src*				@singalsu
src/audio/eq*				@singalsu
src/audio/eq_fir*			@singalsu
src/audio/eq_iir*			@singalsu
src/audio/tone.c			@singalsu
src/audio/kpb.c				@mrajwa
src/audio/mux/*				@akloniex
src/audio/dcblock*			@cujomalainey @dgreid
src/audio/crossover*			@cujomalainey @dgreid
src/audio/tdfb*                         @singalsu
src/audio/drc/*				@johnylin76 @cujomalainey @dgreid
src/audio/multiband_drc/*		@johnylin76 @cujomalainey @dgreid

# platforms
src/platform/baytrail/*			@xiulipan
src/platform/haswell/*			@xiulipan @randerwang
src/platform/suecreek/*			@lyakh
src/arch/xtensa/debug/gdb/*		@mrajwa
src/platform/imx8/**			@dbaluta

# drivers
src/drivers/intel/dmic.c		@singalsu
src/drivers/intel/cavs/sue-iomux.c	@lyakh
src/drivers/intel/haswell/*		@randerwang
src/drivers/imx/**			@dbaluta
src/drivers/dw/*			@lyakh

# other libs
src/math/*				@singalsu
src/ipc/*				@xiulipan @bardliao
src/drivers/intel/cavs/sue-ipc.c	@lyakh
src/lib/*				@libinyang
src/debug/gdb/*				@mrajwa
src/schedule				@mrajwa

# other helpers
test/**					@jajanusz
# Mostly overridden by *.(ba)sh below
scripts/*				@xiulipan @marc-hb

# tools(old soft)
tools/logger/*				@xiulipan @bkokoszx @akloniex
tools/topology/*			@ranj063 @xiulipan
tools/testbench/*			@ranj063
tools/test/*				@xiulipan
tools/test/audio/*			@singalsu
tools/ctl/*				@singalsu
tools/tune/*				@singalsu
tools/tune/crossover/*			@cujomalainey @johnylin76 @dgreid
tools/tune/dcblock/*			@cujomalainey @johnylin76 @dgreid
tools/tune/drc/*			@cujomalainey @johnylin76 @dgreid
tools/oss-fuzz/*			@cujomalainey

# build system
**/CMakeLists.txt			@jajanusz
**/Kconfig				@jajanusz
scripts/cmake/**			@jajanusz
scripts/kconfig/**			@jajanusz

*.sh					@jajanusz @marc-hb
*.bash					@jajanusz @marc-hb
*trace.*				@xiulipan @akloniex

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
