# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @lgirdwood @plbossart @mmaka1 @lbetlej

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
src/include/sof/dmic.h			@singalsu
src/include/host/*			@ranj063
src/include/uapi/**			@bardliao @wwittbrx @zrombel @dbaluta
src/include/uapi/ipc/*			@xiulipan @bardliao @wwittbrx @zrombel @dbaluta
src/include/gdb/*			@mrajwa
src/include/audio/kpb.h			@mrajwa

# audio component
src/audio/src*				@singalsu
src/audio/eq*				@singalsu
src/audio/fir*				@singalsu
src/audio/iir*				@singalsu
src/audio/tone.c			@singalsu
src/audio/kpb.c				@mrajwa

# platforms
src/arch/xtensa/*			@tlauda
src/platform/*				@tlauda
src/platform/baytrail/*			@xiulipan
src/platform/haswell/*			@xiulipan @randerwang
src/platform/suecreek/*			@lyakh
src/arch/xtensa/gdb/*			@mrajwa

# drivers
src/drivers/intel/cavs/dmic.c		@singalsu
src/drivers/intel/cavs/sue-iomux.c	@lyakh
src/drivers/intel/haswell/*		@randerwang
src/drivers/dw/*			@lyakh

# other libs
src/host/*				@ranj063
src/math/*				@singalsu
src/ipc/*				@xiulipan @bardliao
src/ipc/sue-ipc.c			@lyakh
src/lib/*				@libinyang
src/gdb/*				@mrajwa

# other helpers
test/**					@jajanusz
scripts/*				@xiulipan
rimage/*				@xiulipan

# tools(old soft)
tools/logger/*				@xiulipan @bkokoszx @akloniex
tools/topology/*			@ranj063 @xiulipan
tools/test/*				@xiulipan
tools/test/audio/*			@singalsu
tools/eqctl/*				@singalsu
tools/tune/*				@singalsu

# build system
**/CMakeLists.txt			@jajanusz
**/Kconfig				@jajanusz
scripts/cmake/**			@jajanusz
scripts/kconfig/**			@jajanusz

# related fileds
*.sh					@jajanusz
*trace.*				@xiulipan @akloniex

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
