mainmenu "SOF $(PROJECTVERSION) Configuration"

comment "Compiler: $(CC_VERSION_TEXT)"

config HOST_PTABLE
	bool
	default n

config TASK_HAVE_PRIORITY_MEDIUM
	bool
	default n

config TASK_HAVE_PRIORITY_LOW
	bool
	default n

config BOOT_LOADER
	bool
	default n

config IRQ_MAP
	bool
	default n

config DMA_GW
	bool
	default n

config MEM_WND
	bool
	default n

config DW_SPI
	bool
	default n

config INTEL_IOMUX
	bool
	default n

config DW_GPIO
	bool
	default n

config HW_LLI
	bool
	default n
	help
	  Hardware linked list is the DW-DMA feature, which allows
	  to automatically reload the next programmed linked list
	  item from memory without stopping the transfer. Without
	  it the transfer stops after every lli read and FW needs
	  to manually setup the next transfer.

	  Any platforms with hardware linked list support
	  should set this.

config DMA_AGGREGATED_IRQ
	bool
	default n
	help
	  Some platforms cannot register interrupt per DMA channel
	  and have the possibility only to register interrupts per
	  DMA controller, which require manual handling of aggregated
	  irq.

	  Any platforms with DMA aggregated interrupts support
	  should set this.

source "src/Kconfig"

menu "Debug"

config GDB_DEBUG
	bool "GDB Stub"
	default n
	help
	  Select for GDB debugging

config DEBUG_HEAP
	bool "Heap debug"
	default n
	help
	  Select for enable heap alloc debugging

config DEBUG
	bool "Debug build"
	default n
	help
	  Select for debug build

config BUILD_VM_ROM
	bool "Build VM ROM"
	default n
	help
	  Select if you want to build VM ROM

endmenu
