config DEBUG_HEAP
	bool "Heap debug"
	default n
	help
	  Select for enable heap alloc debugging

config DEBUG_BLOCK_FREE
	bool "Blocks freeing debug"
	default n
	help
	  It enables checking if free was called multiple times on
	  already freed block of memory. Enabling this feature increases
	  number of memory writes and reads, due to checks for memory patterns
	  that may be performed on allocation and deallocation.

config DEBUG_FORCE_COHERENT_BUFFER
	bool "Force the allocator to allocate coherent buffer only"
	default n
	help
	  Select if we want to force the allocator to return coherent/uncached
	  buffer only.
	  This should be selected for debug purpose only, as accessing buffer
	  without caching it will reduce the read/write performance.
