# SPDX-License-Identifier: BSD-3-Clause

config COMP_NXP_EAP
	tristate "NXP EAP Component"
	help
	  Select for NXP Essential Audio Processing Component.
	  The EAP is a bundle of audio processing blocks for enhancing the tonal
	  and spatial perception of sound in audio applications.

config COMP_NXP_EAP_STUB
	tristate "NXP EAP Component stub"
	depends on COMP_NXP_EAP
	help
	  Select for NXP EAP stub support.
