# SPDX-License-Identifier: BSD-3-Clause

config COMP_MIXER
	bool "Mixer component"
	depends on IPC_MAJOR_3
	default y
	help
	  Select for Mixer component

config MIXER_ARM_SIMD
	bool "ARM SIMD optimized Mixer component"
	default y
	depends on ARM && COMP_MIXER
	help
	  Select for ARMv7E-M SIMD optimized Mixer processing functions.

