# SPDX-License-Identifier: BSD-3-Clause

menu "Smart amplifier solutions"
	visible if COMP_SMART_AMP

	config MAXIM_DSM
		bool "Maxim DSM solution"
		select MAXIM_DSM_STUB if COMP_STUBS
		default n
		help
		  Select to apply Maxim DSM(Dynamic Speaker Management) solution
		  for Smart Amplifier. As the third-party supply, the
		  pre-compiled library provided by Maxim will be required for
		  building the FW binary with this option enabled. The library
		  itself should be statically linked with the SoF FW binary image.

	config MAXIM_DSM_STUB
		bool "Maxim DSM solution"
		depends on MAXIM_DSM
		default n
		help
		  Select to build the Maxim DSM adapter with a stub library. This
		  should only be used for CI and testing.

endmenu

