	[[module.entry]]
	name = "PROBE"
	uuid = "7CAD0808-AB10-CD23-EF45-12AB34CD56EF"
	affinity_mask = "0x1"
	instance_count = "1"
	domain_types = "0"
	load_type = "0"
	module_type = "9"
	auto_start = "0"
	sched_caps = [1, 0x00008000]

	REM # mod_cfg [PAR_0 PAR_1 PAR_2 PAR_3 IS_BYTES CPS IBS OBS MOD_FLAGS CPC OBLS]
	mod_cfg = [0, 0, 0, 0, 4096, 100000, 48, 48, 0, 1000, 0]

	index = __COUNTER__
