# SPDX-License-Identifier: BSD-3-Clause

config COMP_PHASE_VOCODER
	tristate "Phase Vocoder component"
	default n
	select MATH_FFT
	select MATH_32BIT_FFT
	help
	  Select for phase_vocoder component. The component provides
	  render speed control in range 0.5-2.0x. The pitch is
	  preserved in audio waveform stretch or shorten. The module
	  is using a frequency domain algorithm in STFT domain to
	  interpolate magnitude and phase of output IFFT frames from
	  input FFT frames.
