# SPDX-License-Identifier: BSD-3-Clause

# Xtensa-specific architecture configs

config NO_SECONDARY_CORE_ROM
	bool
	default n
	help
	  Indicates that secondary core have rom, alternate reset vector
	  is needed if not
