# SPDX-License-Identifier: BSD-3-Clause

# Xtensa-specific architecture configs

menu "Xtensa Architecture"

config MAX_CORE_COUNT
	int
	default 1 if KERNEL_BIN_NAME = "zephyr" || LIBRARY || IMX8 || IMX8X || \
		IMX8M || BAYTRAIL || HASWELL || CHERRYTRAIL || BROADWELL || HOST
	default 2 if APOLLOLAKE
	default 4 if ICELAKE || CANNONLAKE || SUECREEK || TIGERLAKE

config CORE_COUNT
	int "Number of cores"
	default 1
	range 1 MAX_CORE_COUNT
	help
	  Number of used cores
	  Lowering available core count could result in lower power consumption

config MULTICORE
	bool
	default CORE_COUNT > 1
	help
	  Indicates that architecture uses multiple cores

config NO_SECONDARY_CORE_ROM
	bool
	default n
	help
	  Indicates that secondary core have rom, alternate reset vector
	  is needed if not

config WAKEUP_HOOK
	bool
	default n
	help
	  Enables hook that is called and after coming back from WAITI.
	  This config should be selected by other platform-level configs.
	  Platforms that use it, have to implement hook function
	  platform_interrupt_on_wakeup.

endmenu
