# SPDX-License-Identifier: BSD-3-Clause

# TODO: to be removed once Zephyr SSP driver has been updated
#       not to depend on this
config INTEL_MN
	bool
	depends on CAVS
	default n
	help
	  Select this if the platform supports M/N dividers.
