# SPDX-License-Identifier: BSD-3-Clause

config COMP_RTNR
	tristate "RTNR component"
	select COMP_BLOB
	select COMP_RTNR_STUB if COMP_STUBS
	help
	  Select for Realtek noise reduction/suppression(NR/NS) component.
	  Noise Suppression technology reduces stationary and transient noises in
	  single-channel speech signals, which increases the signal-to-noise ratio,
	  improves speech intelligibility and reduces listening fatigue. It estimates
	  ambient noise and signal levels and then passes or attenuates the signals
	  according to improve signal-to-noise ratios. The feature links to a
	  proprietary binary libSOF_RTK_MA_API.a, libSuite_rename.a, libNet.a and libPreset.a.
	  Please contact antz0525@realtek.com for any question about the binary.

config COMP_RTNR_STUB
	bool "RTNR component stub"
	select COMP_BLOB
	depends on COMP_RTNR
	help
	  Stub out the RTNR library for testing and CI purposes.
