# SPDX-License-Identifier: BSD-3-Clause

rsource "Kconfig.simd"

config COMP_DRC
	tristate "Dynamic Range Compressor component"
	select CORDIC_FIXED
        select MATH_LUT_SINE_FIXED
	select NUMBERS_NORM
	select MATH_EXP
	select COMP_BLOB
	default m if LIBRARY_DEFAULT_MODULAR
	default n
	help
	  Select for Dynamic Range Compressor (DRC) component. A DRC can be used
	  to reduce the volume of loud sounds and amplify silent sounds thus
	  compressing an audio signal's dynamic range.

config DRC_MAX_PRE_DELAY_FRAMES
	depends on COMP_DRC
	int "DRC max number of pre-delay frames"
	default 512
	help
	  Determines the length of pre-delay frame buffers which are allocated
	  runtime on DRC setup. It requires to be a 2^N number. 512 is
	  suggested by inference to avoid memory waste and provide reasonable
	  length for pre-delay frames.
