# SPDX-License-Identifier: BSD-3-Clause

config COMP_CROSSOVER
	tristate "Crossover Filter component"
	select COMP_BLOB
	select MATH_IIR_DF2T
	default m if LIBRARY_DEFAULT_MODULAR
	default n
	help
	  Select for Crossover Filter component. A crossover can be used to
	  split a signal into two or more frequency ranges, so that the outputs
	  can be sent to drivers that are designed for those ranges.
