# SPDX-License-Identifier: BSD-3-Clause

menu "Drivers"

source "src/drivers/intel/cavs/Kconfig"

config DW_DMA
	bool "Designware DMA driver"
	default n
	help
	  Select this to enable support for the Designware DMA controller.

endmenu # "Drivers"
