config SCHED_CPU_MASK_PIN_ONLY
	default y if SMP

config SMP_BOOT_DELAY
	default y if SMP

# Allow compiler to determine whether to generate FLIX instructions.
choice COMPILER_CODEGEN_VLIW
        default COMPILER_CODEGEN_VLIW_AUTO if "$(ZEPHYR_TOOLCHAIN_VARIANT)" = "xt-clang"
endchoice

source "Kconfig.zephyr"

if SOC_FAMILY_INTEL_ADSP
	rsource "boards/intel_adsp/Kconfig.defconfig"
endif
