# SPDX-License-Identifier: BSD-3-Clause

config DTS_CODEC
        tristate "DTS codec"
        select DTS_CODEC_STUB if COMP_STUBS
        help
          Select to include DTS codec.
          In order to compile with this option enabled, a pre-compiled static library
          must be provided by DTS for your target platform. If this library is not present
          then compilation errors will occur.
          For more information, please contact sales@xperi.com

config DTS_CODEC_STUB
        bool "DTS codec stub"
        depends on DTS_CODEC
        help
          Select to include DTS codec stub library. This is meant for testing and CI
          purposes only.
