# SPDX-License-Identifier: BSD-3-Clause

config DW
	bool
	default n
	help
	  This has to be selected if platform supports Designware features.

if DW

config DW_DMA
	bool "Designware DMA driver"
	default n
	help
	  Select this to enable support for the Designware DMA controller.

config DW_DMA_AGGREGATED_IRQ
	bool
	default n
	help
	  Some platforms cannot register interrupt per DW-DMA channel
	  and have the possibility only to register interrupts per
	  DMA controller, which require manual handling of aggregated
	  irq.

	  Any platforms with DW-DMA aggregated interrupts support
	  should set this.

config DW_SPI
	bool
	default n

config DW_GPIO
	bool
	default n

endif # DW
