# SPDX-License-Identifier: BSD-3-Clause

config COMP_DCBLOCK
	bool "DC Blocking Filter component"
	default y
	help
	  Select for DC Blocking Filter component. This component filters out
	  the DC offset which often originates from a microphone's output.
