CONFIG_LIBRARY=y
CONFIG_TRACEV=y
CONFIG_DEBUG_MEMORY_USAGE_SCAN=n
CONFIG_COMP_CROSSOVER=y
CONFIG_COMP_DRC=y
CONFIG_COMP_MULTIBAND_DRC=y
CONFIG_COMP_CODEC_ADAPTER=y
CONFIG_COMP_SRC=y
CONFIG_COMP_SRC_IPC4_FULL_MATRIX=y
