CONFIG_IPC_MAJOR_4=y
CONFIG_LIBRARY=y
CONFIG_TRACEV=y
CONFIG_DEBUG_MEMORY_USAGE_SCAN=n
CONFIG_COMP_CROSSOVER=y
CONFIG_COMP_DRC=y
CONFIG_COMP_MULTIBAND_DRC=y
CONFIG_COMP_SRC=y
CONFIG_COMP_SRC_IPC4_FULL_MATRIX=y
CONFIG_COMP_MFCC=y
CONFIG_COMP_GAIN=y
CONFIG_COMP_VOLUME_WINDOWS_FADE=y
CONFIG_COMP_MODULES_SO=y
CONFIG_COMP_MODULE_ADAPTER=y
CONFIG_COMP_MIXER=y
CONFIG_IPC4_GATEWAY=n
CONFIG_COMP_DAI_GROUP=n
CONFIG_FORMAT_S16LE=y
CONFIG_FORMAT_S32LE=y
CONFIG_FORMAT_S24LE=y
CONFIG_COMP_PEAK_VOL=n
CONFIG_COMP_MODULE_SHARED_LIBRARY_BUILD=y
