# SPDX-License-Identifier: BSD-3-Clause

config COMP_IIR
	tristate "IIR component"
	select COMP_BLOB
	default m if LIBRARY_DEFAULT_MODULAR
	default y
	depends on COMP_MODULE_ADAPTER
	select MATH_IIR_DF1
	help
	  Select for IIR component
