#ifndef LOAD_TYPE
#define LOAD_TYPE "0"
#endif

	REM # Aria module config
	[[module.entry]]
	name = "ARIA"
	uuid = UUIDREG_STR_ARIA
	affinity_mask = "0x1"
	instance_count = "8"
	domain_types = "0"
	load_type = LOAD_TYPE
	init_config = "1"
	module_type = "30"
	auto_start = "0"
	sched_caps = [1, 0x00008000]

	REM # pin = [dir, type, sample rate, size, container, channel-cfg]
	pin = [0, 0, 0xfeef, 0xf, 0xa, 0x45ff,
			1, 0, 0xfeef, 0xf, 0xa, 0x45ff]

	REM # mod_cfg [PAR_0 PAR_1 PAR_2 PAR_3 IS_BYTES CPS IBS OBS MOD_FLAGS CPC OBLS]
	mod_cfg = [0, 0, 0, 0, 260, 1063000, 16, 21, 0, 0, 0,
			1, 0, 0, 0, 260, 1873500, 192, 256, 0, 0, 0,
			2, 0, 0, 0, 260, 2680000, 32, 42, 0, 0, 0,
			3, 0, 0, 0, 260, 3591000, 64, 85, 0, 0, 0,
			4, 0, 0, 0, 260, 4477000, 96, 128, 0, 0, 0,
			5, 0, 0, 0, 260, 7195000, 192, 192, 0, 0, 0]

	index = __COUNTER__
