# SPDX-License-Identifier: BSD-3-Clause

menu "Processing modules"
	visible if COMP_MODULE_ADAPTER

	config CADENCE_CODEC
		bool "Cadence codec"
		default n
		help
		  Select for codecs which conforms to the Cadence API.
		  This will cause codec adapter component to include header
		  files specific to CADENCE base codecs.

if CADENCE_CODEC
	config CADENCE_CODEC_WRAPPER
		bool 'Cadence codec wrapper'
		default n
		help
		  Select for cadence_codec_api wrapper function that will allow
		  users to call into codecs which conforms to the Cadence API without
		  explicitly knowing/using the entry function symbol name.

	if CADENCE_CODEC_WRAPPER
		config CADENCE_CODEC_WRAPPER_LIB
		string "Cadence codec wrapper library name"
		help
		  This option is a string and takes the full name of the codec wrapper library binary.
	endif

	config CADENCE_CODEC_AAC_DEC
		bool "Cadence AAC decoder"
		default n
		help
		  Select for Cadence AAC decoder support.
		  This will cause Cadence codec to include Cadence AAC library
		  api symbol.

	if CADENCE_CODEC_AAC_DEC
		config CADENCE_CODEC_AAC_DEC_LIB
		string "Cadence AAC decoder library name"
		help
		  This option is a string and takes the full name of the AAC decoder library binary.
	endif

	config CADENCE_CODEC_BSAC_DEC
		bool "Cadence BSAC decoder"
		default n
		help
		  Select for Cadence BSAC decoder support.
		  This will cause Cadence codec to include Cadence BSAC library
		  api symbol.

	if CADENCE_CODEC_BSAC_DEC
		config CADENCE_CODEC_BSAC_DEC_LIB
		string "Cadence BSAC decoder library name"
		help
		  This option is a string and takes the full name of the BSAC decoder library
	endif

	config CADENCE_CODEC_DAB_DEC
		bool "Cadence DAB decoder"
		default n
		help
		  Select for Cadence DAB decoder support.
		  This will cause Cadence codec to include Cadence DAB library
		  api symbol.

	if CADENCE_CODEC_DAB_DEC
		config CADENCE_CODEC_DAB_DEC_LIB
		string "Cadence DAB decoder library name"
		help
		  This option is a string and takes the full name of the DAB library binary.
	endif

	config CADENCE_CODEC_DRM_DEC
		bool "Cadence DRM decoder"
		default n
		help
		  Select for Cadence DRM decoder support.
		  This will cause Cadence codec to include Cadence DRM library
		  api symbol.

	if CADENCE_CODEC_DRM_DEC
		config CADENCE_CODEC_DRM_DEC_LIB
		string "Cadence DRM decoder library name"
		help
		  This option is a string and takes the full name of the DRM library binary.
	endif

	config CADENCE_CODEC_MP3_DEC
		bool "Cadence MP3 decoder"
		default n
		help
		  Select for Cadence MP3 decoder support.
		  This will cause Cadence codec to include Cadence MP3 library
		  api symbol.

	if CADENCE_CODEC_MP3_DEC
		config CADENCE_CODEC_MP3_DEC_LIB
		string "Cadence MP3 decoder library name"
		help
		  This option is a string and takes the full name of the MP3 library binary.
	endif

	config CADENCE_CODEC_SBC_DEC
		bool "Cadence SBC decoder"
		default n
		help
		  Select for Cadence SBC decoder support.
		  This will cause Cadence codec to include Cadence SBC library
		  api symbol.

	if CADENCE_CODEC_SBC_DEC
		config CADENCE_CODEC_SBC_DEC_LIB
		string "Cadence SBC decoder library name"
		help
		  This option is a string and takes the full name of the SBC library binary.
	endif


	config CADENCE_CODEC_VORBIS_DEC
		bool "Cadence VORBIS decoder"
		default n
		help
		  Select for Cadence VORBIS decoder support.
		  This will cause Cadence codec to include Cadence VORBIS library
		  api symbol.

	if CADENCE_CODEC_VORBIS_DEC
		config CADENCE_CODEC_VORBIS_DEC_LIB
		string "Cadence VORBIS decoder library name"
		help
		  This option is a string and takes the full name of the VORBIS library binary.
	endif

	config CADENCE_CODEC_SRC_PP
		bool "Cadence SRC polyphase"
		default n
		help
		  Select for Cadence SRC polyphase support.
		  This will cause Cadence codec to include Cadence SRC library
		  api symbol.

	if CADENCE_CODEC_SRC_PP
		config CADENCE_CODEC_SRC_PP_LIB
		string "Cadence SRC polyphase library name"
		help
		  This option is a string and takes the full name of the SRC library binary.
	endif

endif # Cadence

	config COMP_VOLUME
		bool "Volume component"
		default y
		depends on COMP_MODULE_ADAPTER
		help
		  Select for Volume component

if COMP_VOLUME

config COMP_VOLUME_WINDOWS_FADE
       bool "Windows Fade shape volume transitions support"
       help
         This option enables volume ramp shape that follows
	 power of 1.75. The shape is not linear, not logarithmic.
	 The power function uses a lookup table that consumes
	 256 bytes. The topology must set volume ramp token to
	 SOF_VOLUME_WINDOWS_FADE for the volume instance to use
	 this ramp shape.

config COMP_VOLUME_LINEAR_RAMP
       bool "Linear ramp volume transitions support"
	   default y
	   depends on IPC_MAJOR_3
       help
         This option enables volume linear ramp shape.

config COMP_PEAK_VOL
       bool "Report peak vol data to host"
	   default y
	   depends on IPC_MAJOR_4
       help
         This option enables reporting to host peak vol regs.
         See: struct ipc4_peak_volume_regs

config COMP_GAIN
	bool "GAIN component"
	default y
	depends on IPC_MAJOR_4
	help
	  This option enables gain to change volume. It works
	  as peak volume without updating peak vol to host

endif # volume

	config PASSTHROUGH_CODEC
		bool "Passthrough codec"
		default n
		help
		  Select for a passthrough API codec implementation.
		  This will cause codec adapter component to include header
		  files specific to PASSTHROUGH base codecs.

	config WAVES_CODEC
	bool "Waves codec"
	default n
	help
		Select to include Waves codec. Waves codec implements MaxxEffect API.
		API definition together with pre-compiled library is shared by Waves Audio Ltd.
		If library is not provided will result in compilation error.
		For more information, contact consumer@waves.com.

	config DTS_CODEC
	bool "DTS codec"
	default n
	help
		Select to include DTS codec.
		In order to compile with this option enabled, a pre-compiled static library
		must be provided by DTS for your target platform. If this library is not present
		then compilation errors will occur.
		For more information, please contact sales@xperi.com

	config INTEL_MODULES
	bool "Intel modules"
	default n
	depends on LIBRARY_MANAGER
	help
		Select for a Intel modules API implementation.
		This will cause module adapter component to include IADK module
		codec code. It will work only when LIBRARY_MANAGER is enabled.
endmenu
