# SPDX-License-Identifier: BSD-3-Clause

# Trace configs

menu "Trace"

config TRACE
	bool "Trace"
	default y
	help
	  Enabling traces. All traces (normal and error) are sent by dma.

config TRACEV
	bool "Trace verbose"
	depends on TRACE
	default n
	help
	  Enabling verbose traces. tr_dbg() statements depend on this at
	  compile-time and on run-time filtering below too.

config TRACEE
	bool "Trace error"
	depends on TRACE
	default y
	help
	  Sending error traces by mailbox additionally.

config TRACEM
	bool "Trace mailbox"
	depends on TRACE
	default n
	help
	  Sending all traces by mailbox additionally.

config TRACE_FILTERING
	bool "Trace filtering"
	depends on TRACE
	default y
	help
		Filtering of trace messages based on their verbosity level and frequency.

config TRACE_FILTERING_VERBOSITY
	bool "Filter by verbosity"
	depends on TRACE_FILTERING
	default y
	help
		Filtering by log verbosity level, where maximum verbosity allowed is specified for each
		context and may be adjusted in runtime.

config TRACE_FILTERING_ADAPTIVE
	bool "Adaptive rate limiting"
	depends on TRACE_FILTERING
	default y
	help
		Adaptive filtering of trace messages, tracking up to CONFIG_TRACE_RECENT_ENTRIES_COUNT,
		suppressing all repeated messages for up to CONFIG_TRACE_RECENT_TIME_THRESHOLD cycles.

config TRACE_RECENT_ENTRIES_COUNT
	int "Amount of entries considered recent"
	depends on TRACE_FILTERING_ADAPTIVE
	default 5
	help
		Recent entries are used to determine whether currently processed message was sent in the
		past. Size of that filtering window affects effectiveness and performance. More recent
		entries allow to better filter repetitive messeges out, but also slightly decrease
		performance due to increased number of comparisions necessary.

config TRACE_RECENT_TIME_THRESHOLD
	int "Period of time considered recent (microseconds)"
	depends on TRACE_FILTERING_ADAPTIVE
	default 1500
	range 1 TRACE_RECENT_MAX_TIME
	help
		Period of time during which entries are tracked and will be suppressed if reported again.

config TRACE_RECENT_MAX_TIME
	int "Maximum period of time that message can be suppressed (microseconds)"
	depends on TRACE_FILTERING_ADAPTIVE
	default 5000000
	help
		Maximum amount of time message can be suppressed for, due to repeated suppression.

config TRACE_BURST_COUNT
	int "Allowed amount of rapidly repeated messages, that will not be suppressed by the filter"
	depends on TRACE_FILTERING_ADAPTIVE
	default 4
	help
		Amount of messages that will pass through the filter even if sent in rapid succession.
		Allowed message burst size before filter suppresses the message.

endmenu
