# SPDX-License-Identifier: BSD-3-Clause

comment "volume optimization level select"

choice "VOLUME_SIMD_LEVEL_SELECT"
	prompt "choose which SIMD level used for volume module"
	depends on COMP_VOLUME
	default VOLUME_HIFI_MAX

	config VOLUME_HIFI_MAX
		prompt "SIMD will selected by toolchain pre-defined header"
		bool
		help
			When this was selected, optimization level will be determined
			by toolchain pre-defined macros in core isa header file.

	config VOLUME_HIFI_5
		prompt "choose HIFI5 intrinsic optimized volume module"
		bool
		help
			This option used to build HIFI5 optimized volume code

	config VOLUME_HIFI_4
		prompt "choose HIFI4 intrinsic optimized volume module"
		bool
		help
			This option used to build HIFI4 optimized volume code

	config VOLUME_HIFI_3
		prompt "choose HIFI3 intrinsic optimized volume module"
		bool
		help
			This option used to build HIFI3 intrinsic optimized volume code

	config VOLUME_HIFI_NONE
		prompt "choose generic C volume module, no HIFI SIMD involved"
		bool
		help
			This option used to build volume generic code.
endchoice
