menu "Audio components"

config COMP_VOLUME
	bool "Volume component"
	default y
	help
	  Select for Volume component

config COMP_SRC
	bool "SRC component"
	default y
	help
	  Select for SRC component

config COMP_FIR
	bool "FIR component"
	default y
	help
	  Select for FIR component

config COMP_IIR
	bool "IIR component"
	default y
	help
	  Select for IIR component

config COMP_TONE
	bool "Tone component"
	default y
	help
	  Select for Tone component

config COMP_MIXER
	bool "Mixer component"
	default y
	help
	  Select for Mixer component

endmenu
