# SPDX-License-Identifier: BSD-3-Clause

comment "filter optimization level select"

# this choice covers math iir, math fir, tdfb, and eqfir, eqiir.
choice "FILTER_SIMD_LEVEL_SELECT"
	prompt "choose which SIMD level used for filter module"
	depends on COMP_FIR
	depends on COMP_IIR
	default FILTER_HIFI_MAX

	config FILTER_HIFI_MAX
		prompt "SIMD will selected by toolchain pre-defined header"
		bool
		help
			When this was selected, optimization level will be determined
			by toolchain pre-defined macros in core isa header file.

	config FILTER_HIFI_5
		prompt "choose HIFI5 intrinsic optimized FILTER module"
		bool
		help
			This option used to build HIFI5 optimized FILTER code

	config FILTER_HIFI_4
		prompt "choose HIFI4 intrinsic optimized FILTER module"
		bool
		help
			This option used to build HIFI4 optimized FILTER code

	config FILTER_HIFI_3
		prompt "choose HIFI3 intrinsic optimized FILTER module"
		bool
		help
			This option used to build HIFI3 intrinsic optimized FILTER code

	config FILTER_HIFI_2
		prompt "choose HIFI2ep intrinsic optimized FILTER module"
		bool
		help
			This option used to build HIFI2ep intrinsic optimized FILTER code

	config FILTER_HIFI_NONE
		prompt "choose generic C FILTER module, no HIFI SIMD involved"
		bool
		help
			This option used to build FILTER generic code.
endchoice
