# SPDX-License-Identifier: BSD-3-Clause

# Library manager configs

menu "Library Manager"

config LIBRARY_MANAGER
	bool "Library Manager Support"
	default n
	depends on IPC_MAJOR_4
	help
	  This is support for dynamic modules loading.
	  Externally developed modules both for SOF and Zephyr
	  could be used if enabled.
	  If unsure say N.
	  

config LIBRARY_AUTH_SUPPORT
	bool "Library Authentication Support"
	default n
	depends on IPC_MAJOR_4
	help
	  This is support for dynamic modules authentication.
	  Externally developed modules both for SOF and Zephyr
	  could be used if enabled.
	  If unsure say N.

endmenu
