# SPDX-License-Identifier: BSD-3-Clause

# Library manager configs

menu "Library Manager"

config LIBRARY_MANAGER
	bool "Library Manager Support"
	default n
	depends on IPC_MAJOR_4
	help
	  This is support for dynamic modules loading.
	  Externally developed modules both for SOF and Zephyr
	  could be used if enabled.
	  If unsure say N.

config LIBCODE_MODULE_SUPPORT
	bool "Add support for libcode modules"
	default n
	depends on LIBRARY_MANAGER
	help
	  A loadable library can contain a several modules marked
	  as lib_code. This modules contains code shared by
	  a multiple modules. This option adds support for modules
	  of this type.

config LIBRARY_AUTH_SUPPORT
	bool "Library Authentication Support"
	default n
	help
	  This is support for dynamic modules authentication.
	  Externally developed modules both for SOF and Zephyr
	  could be used if enabled.
	  If unsure say N.

config LIBRARY_PIPELINE_FORCE_MIN_LIFETIME
	int "Minimum pipeline life-time in ms"
	default 0
	range 0 500
	help
	  Typically pipelines are created for streaming, which lasts for
	  considerable time, at least seconds. But in some test-cases pipelines
	  are created and quickly destroyed again with no streaming at all. In
	  some configurations this leads to failures. This option allows setting
	  a minimum pipeline life-time, which fixes those scenarios.

endmenu
