*.o
*.in
*~
autom4te*
*.Po
*.swp
Makefile
config.*
configure
depcomp
install-sh
missing
stamp-h1
aclocal.m4
compile
ltmain.sh
rwav/rwav
*.tplg
topology/*.conf
test/topology/*.conf
eqctl/sof-eqctl
logger/sof-logger
