# SPDX-License-Identifier: BSD-3-Clause

rsource "arch/Kconfig"

rsource "platform/Kconfig"

rsource "drivers/Kconfig"

rsource "audio/Kconfig"

rsource "trace/Kconfig"

rsource "probe/Kconfig"

rsource "samples/Kconfig"

rsource "schedule/Kconfig"

rsource "ipc/Kconfig"
