# SPDX-License-Identifier: BSD-3-Clause

source "src/arch/Kconfig"

source "src/platform/Kconfig"

source "src/drivers/Kconfig"

source "src/audio/Kconfig"

source "src/trace/Kconfig"

source "src/probe/Kconfig"
