# SPDX-License-Identifier: BSD-3-Clause

rsource "arch/Kconfig"

rsource "platform/Kconfig"

rsource "drivers/Kconfig"

rsource "audio/Kconfig"

rsource "trace/Kconfig"

rsource "probe/Kconfig"

rsource "samples/Kconfig"

rsource "schedule/Kconfig"
rsource "schedule/Kconfig.threads_prio"

rsource "ipc/Kconfig"

rsource "math/Kconfig"

rsource "library_manager/Kconfig"

rsource "debug/telemetry/Kconfig"

rsource "debug/debug_stream/Kconfig"

rsource "debug/tester/Kconfig"
