# SPDX-License-Identifier: BSD-3-Clause

menu "Platform"

choice
	prompt "Platform"
	default APOLLOLAKE

config BAYTRAIL
	bool "Build for Baytrail"
	select HOST_PTABLE
	select DMA_AGGREGATED_IRQ
	select DMA_SUSPEND_DRAIN
	select DMA_FIFO_PARTITION
	select DW
	select DW_DMA
	select HAVE_RESET_VECTOR_ROM
	select INTEL
	help
	  Select if your target platform is Baytrail-compatible

config CHERRYTRAIL
	bool "Build for Cherrytrail"
	select HOST_PTABLE
	select DMA_AGGREGATED_IRQ
	select DMA_SUSPEND_DRAIN
	select DMA_FIFO_PARTITION
	select DW
	select DW_DMA
	select HAVE_RESET_VECTOR_ROM
	select INTEL
	help
	  Select if your target platform is Cherrytrail-compatible

config HASWELL
	bool "Build for Haswell"
	select HOST_PTABLE
	select DMA_AGGREGATED_IRQ
	select DW
	select DW_DMA
	select HAVE_RESET_VECTOR_ROM
	select INTEL
	help
	  Select if your target platform is Haswell-compatible

config BROADWELL
	bool "Build for Broadwell"
	select HOST_PTABLE
	select DMA_AGGREGATED_IRQ
	select DW
	select DW_DMA
	select HAVE_RESET_VECTOR_ROM
	select INTEL
	help
	  Select if your target platform is Broadwell-compatible

config APOLLOLAKE
	bool "Build for Apollolake"
	select BOOT_LOADER
	select IRQ_MAP
	select DMA_GW
	select DW
	select DW_DMA
	select MEM_WND
	select HW_LLI
	select DMA_FIFO_PARTITION
	select CAVS
	select CAVS_VERSION_1_5
	help
	  Select if your target platform is Apollolake-compatible

config CANNONLAKE
	bool "Build for Cannonlake"
	select BOOT_LOADER
	select IRQ_MAP
	select DMA_GW
	select DW
	select DW_DMA
	select MEM_WND
	select HW_LLI
	select DMA_AGGREGATED_IRQ
	select DMA_FIFO_PARTITION
	select CAVS
	select CAVS_VERSION_1_8
	help
	  Select if your target platform is Cannonlake-compatible

config SUECREEK
	bool "Build for Suecreek"
	select BOOT_LOADER
	select IRQ_MAP
	select DW
	select DW_DMA
	select DW_SPI
	select INTEL_IOMUX
	select DW_GPIO
	select HW_LLI
	select DMA_AGGREGATED_IRQ
	select DMA_FIFO_PARTITION
	select CAVS
	select CAVS_VERSION_2_0
	help
	  Select if your target platform is Suecreek-compatible

config ICELAKE
	bool "Build for Icelake"
	select BOOT_LOADER
	select IRQ_MAP
	select DMA_GW
	select DW
	select DW_DMA
	select MEM_WND
	select HW_LLI
	select DMA_AGGREGATED_IRQ
	select DMA_FIFO_PARTITION
	select CAVS
	select CAVS_VERSION_2_0
	help
	  Select if your target platform is Icelake-compatible

config TIGERLAKE
	bool "Build for Tigerlake"
	select BOOT_LOADER
	select IRQ_MAP
	select DMA_GW
	select DW
	select DW_DMA
	select MEM_WND
	select TASK_HAVE_PRIORITY_LOW
	select TASK_HAVE_PRIORITY_MEDIUM
	select HW_LLI
	select DMA_AGGREGATED_IRQ
	select DMA_FIFO_PARTITION
	select CAVS
	select CAVS_VERSION_2_5
	help
	  Select if your target platform is Tigerlake-compatible

config LIBRARY
	bool "Build Library"
	help
	  Select if you want to build a library.
	  It is generic/mock configuration not tied to some specific platform.
	  Library builds are not intended to be run on DSP, but to be used by
	  user-space applications.

config IMX8
	bool "Build for NXP i.MX8"
	select HAVE_RESET_VECTOR_ROM
	select HOST_PTABLE
	help
	  Select if your target platform is imx8-compatible

endchoice

config INTEL
	bool
	default n
	help
	  This has to be selected for every Intel platform.
	  It enables Intel platforms-specific features.

config CAVS
	bool
	default n
	select INTEL

config CAVS_VERSION_1_5
	depends on CAVS
	bool
	help
	  Select for CAVS version 1.5

config CAVS_VERSION_1_8
	depends on CAVS && !CAVS_VERSION_1_5
	bool
	help
	  Select for CAVS version 1.8

config CAVS_VERSION_2_0
	depends on CAVS && !CAVS_VERSION_1_5 && !CAVS_VERSION_1_8
	bool
	help
	  Select for CAVS version 2.0

config CAVS_VERSION_2_5
	depends on CAVS && !CAVS_VERSION_1_5 && !CAVS_VERSION_1_8 \
			&& !CAVS_VERSION_2_0
	bool
	help
	  Select for CAVS version 2.5

# TODO: it should just take manifest version and offsets
config FIRMWARE_SHORT_NAME
	string "Rimage firmware name"
	default "byt" if BAYTRAIL
	default "cht" if CHERRYTRAIL
	default "hsw" if HASWELL
	default "bdw" if BROADWELL
	default "apl" if APOLLOLAKE
	default "cnl" if CANNONLAKE
	default "sue" if SUECREEK
	default "icl" if ICELAKE
	default "tgl" if TIGERLAKE
	default "imx8" if IMX8
	default ""
	help
	  3-characters long firmware identifer
	  used by rimage to decide how to build final binary

endmenu
